td{
    padding: 15px;
}

#bioTable{
    display: none;
    z-index: 3;
    background-color: white;
    position: fixed;
    top: 50px;
    text-align: center;
    width: 50%;
    margin: auto;
    color: black;
    left: 25%;
}

#mask{
    height: 100%;
    width: 100%;
    background-color:grey;
    opacity: .75;
    z-index: 1;
    display:none;
    position: fixed;
}

img{
    height: 28vh;
    width: 14.3vw;
    display: none;
    position: relative;
    z-index: 0;
}

/*img:hover{*/
    /*height: 209px;*/
    /*right: 5px;*/
    /*width: 216px;*/
    /*padding: -5px;*/
    /*top: -10px;*/
    /*position: static;*/
/*}*/

th{
    width: 60px;
    padding-left: 40px;
}

.slide{
    height: 199px;
    width: 210px;
    display: block;
}

#backgroundWriting1{
    font-size: 20vh;
    position: fixed;
    text-align: center;
    z-index: 0;
    top: 60px;
    color: lightblue;
}

#backgroundWriting2{
    font-size: 10vh;
    position: fixed;
    text-align: center;
    z-index: 1;
    left: 5%;
    top: 70%;
    color: lightblue;
}

body{
    background-color: darkred;
    height: 100vh;
    width: 100vw;
}



#credit{
    color: darkgrey;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
}

#name{
    font-size: 40px;
}

#years{
    font-size: 100px;
}

#moreInfo{
    height: 90px;
    width: 500px;
    font-size: 40px;
    background-color: darkgrey;
    left: 450px;
    margin-top: 100px;
    position: relative;
}

.button {
    background: #cf0202;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#cf0202));
    background: -webkit-linear-gradient(top, #000000, #cf0202);
    background: -moz-linear-gradient(top, #000000, #cf0202);
    background: -ms-linear-gradient(top, #000000, #cf0202);
    background: -o-linear-gradient(top, #000000, #cf0202);
    background-image: -ms-linear-gradient(top, #000000 0%, #cf0202 100%);
    padding: 11px 22px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #ffffff 0 1px 0;
    color: white;
    font-size: 24px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    text-shadow: #e00000 0 1px 0;
    background: #0b1a24;
    background: -webkit-gradient(linear, left top, left bottom, from(#d0d2d4), to(#0b1a24));
    background: -webkit-linear-gradient(top, #d0d2d4, #0b1a24);
    background: -moz-linear-gradient(top, #d0d2d4, #0b1a24);
    background: -ms-linear-gradient(top, #d0d2d4, #0b1a24);
    background: -o-linear-gradient(top, #d0d2d4, #0b1a24);
    background-image: -ms-linear-gradient(top, #d0d2d4 0%, #0b1a24 100%);
    color: red;
}

.button:active {
    text-shadow: #1e4158 0 1px 0;
    background: #b0b0b0;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5fbff), to(#cf0202));
    background: -webkit-linear-gradient(top, #f5fbff, #b0b0b0);
    background: -moz-linear-gradient(top, #f5fbff, #b0b0b0);
    background: -ms-linear-gradient(top, #f5fbff, #b0b0b0);
    background: -o-linear-gradient(top, #f5fbff, #b0b0b0);
    background-image: -ms-linear-gradient(top, #f5fbff 0%, #b0b0b0 100%);
    color: #fff;
}