td{
    padding: 15px;
}

#bioTable{
    display: none;
    z-index: 3;
    background-color: white;
    position: fixed;
    top: 50px;
    text-align: center;
    width: 700px;
    left: 350px;
    color: black;
    padding: 0px;
}
#mask{
    height: 100%;
    width: 100%;
    background-color:grey;
    opacity: .75;
    z-index: 1;
    display:none;
    position: fixed;
}

img{
    height: 28vh;
    width: 14.3vw;
    display: none;
    position: relative;
    z-index: 0;
}

/*img:hover{*/
    /*height: 209px;*/
    /*right: 5px;*/
    /*width: 216px;*/
    /*padding: -5px;*/
    /*top: -10px;*/
    /*position: static;*/
/*}*/

th{
    width: 60px;
    padding-left: 40px;
}

.slide{
    height: 199px;
    width: 210px;
    display: block;
}

#backgroundWriting1{
    font-size: 20vh;
    position: fixed;
    text-align: center;
    z-index: 0;
    top: 60px;
    color: lightblue;
}
#backgroundWriting2{
    font-size: 10vh;
    position: fixed;
    text-align: center;
    z-index: 1;
    left: 100px;
    top: 500px;
    color: lightblue;
}

#allImg {
    position: relative;

}

body{
    background-color: darkred;
    height: 100vh;
    width: 100vw;
}

#moreInfo{
    border-radius: 20px;
    height: 90px;
    width: 500px;
    font-size: 40px;
    background-color: darkgrey;
    left: 450px;
    top: 100px;
    position: relative;
}

#credit{
    color: darkgrey;
    text-align: center;
    position: relative;
    top: 150px;
    margin-bottom: 70px;
}

#name{
    font-size: 40px;
}

#years{
    font-size: 100px;
}

